* {
    padding: 0px;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

@font-face {
    font-family: 'Digital';
    src: local('Digital'), url('digital-7\ \(mono\).ttf');
  }

.countdown{
    color: rgb(0, 255, 0);
    font-size: 100px;
    text-transform: capitalize;
    font-family: 'Digital';
    display: flex;

}

.fist{
    position: absolute;
    opacity: 0;

    -webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}


.bcd-wrapper{
    display: none;
    position: relative;
    z-index: 10;
    gap: 20px;
    width: 1000px;

    -webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}


/* .b{
    opacity: 0;
}

.c{
    opacity: 0;
}
.d{
    opacity: 0;
}

.e{
    opacity: 0;
}
.f{
    opacity: 0;
}

.g{
    opacity: 0;
}
.h{
    opacity: 0;
}

.i{
    opacity: 0;
}
.j{
    opacity: 0;
}
.k{
    opacity: 0;
}
.l{
    opacity: 0;
}

.m{
    opacity: 0;
} */


.big-wrapper{
    display: flex;
    opacity: 0;
    text-decoration-color: #00ff00;
    color: rgb(0, 255, 0);
    font-size: 100px;
    text-transform: capitalize;
    display: flex;

    -webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
.cocks-wrapper{
    display: flex;
    padding-left: 30px;
    opacity: 0;
    text-decoration-color: #00ff00;
    color: rgb(0, 255, 0);
    font-size: 100px;
    text-transform: capitalize;
    display: flex;

    -webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
.divided-wrapper{
    display: flex;
    padding-left: 30px;
    opacity: 0;
    text-decoration-color: #00ff00;
    color: rgb(0, 255, 0);
    font-size: 100px;
    text-transform: capitalize;
    display: flex;

    -webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}


.bcd{
    font-size: 100px;
    color: rgb(0, 255, 0);
}
